/* Font Families from: (https://fonts.google.com)
- Font-Family: "Montserrat" 
- Font-Family: "Barlow Condensed" */

nav {
  display: flex;
  background-color: hsl(224, 22%, 17%);
  height: 3rem;
  justify-content: space-between;
  align-items: center;
}
.container-contact {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.logocontact {
  font-size: 1rem;
  color: #967e5b;
  padding: 1rem 0.5rem 1rem 1rem;
}
.numbercontact {
  font-family: "Barlow Condensed";
  font-size: 1rem;
  font-weight: 500;
  color: #f8f9f8;
  padding: 1rem 0rem;
}
.hamburguer-botton {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.1rem;
  color: #f8f9f8;
  padding: 1rem;
}
.header-576px {
  display: flex;
  max-width: 576px;
  width: 100%;
  padding-top: 1%; /* To control img heigh & Text Position */
  padding-bottom: 1%; /* To control img heigh & Text Position */
  background-image: url("/IMG/Agreement_576x384.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.header-frame {
  display: flex;
  font-family: "Montserrat";
  font-size: 1.3rem;
  font-weight: bold;
  color: #f8f9f8;
  text-shadow: 0.2rem 0.2rem 0.14rem black, 0.5rem 0.5rem 1rem black;
  text-align: center;
  border: 0.4rem solid #f8f9f8;
  padding: 12rem 1rem 1rem 1rem;
  margin: 0.5rem;
}
body {
  font-family: "Montserrat";
  background-color: #f8f9f8;
  flex-direction: column;
  min-height: 100vh;
}
h1 {
  font-family: "Montserrat";
  font-size: 2rem;
  font-weight: bold;
  color: #967e5b;
  text-align: center;
  padding: 2.5rem;
}
.article1 {
  display: flex;
  font-family: "Montserrat";
  font-size: 1.2rem;
  font-weight: 100;
  color: hsl(224, 22%, 17%);
  text-align: justify;
  padding: 0 2.5rem 0 2.5rem;
}
h2 {
  font-family: "Montserrat";
  font-size: 1.5rem;
  font-weight: bold;
  color: hsl(224, 22%, 17%);
  text-align: center;
  padding: 2.5rem 2.5rem 0 2.5rem;
}
.job-title {
  font-family: "Montserrat";
  font-size: 1.3rem;
  font-weight: 100;
  color: #967e5b;
  text-align: center;
  padding: 1rem 2.5rem 1rem 2.5rem;
}
.centerx {
  display: flex;
  justify-content: center;
}
